ion-card{
	--background: var(--ion-color-background);
	border-radius: 1em;
	//margin-bottom: 2em;
	ion-card-title{
		text-align: center;
		font-size: 2em;
	}
	ion-card-content{

	//	height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		ion-button{
			margin-bottom: 1em;
			font-size: 1.5em;
		}
	}
}
